// First override some or all individual color variables
$primary: #1ba3e2; // rs button color
$secondary: #8f5325;
$success: #3e8d63;
$info: #13101c;
$warning: #945707;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;
$orange: #f7a000;
$yellow: #f7f731;
// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  orangelol: $orange,
  yellowlol: $yellow,
  // add any additional color below
);

div::-webkit-scrollbar {
  width: 1em;
}

div::-webkit-scrollbar-track {
  //   box-shadow: inset 0 0 6px red;
  background-color: #0b171f;
  border-radius: 5%;
}

div::-webkit-scrollbar-thumb {
  background-color: #f0af17;
  outline: 1px solid #7e8b92;
  border-radius: 5%;
}
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
